@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}


@using MGOBankApp.Areas.Admin.ViewModels
@using MGOBankApp.Domain.Entity
@using MGOBankApp.Domain.Roles
@using Microsoft.AspNetCore.Identity
@model AppuserCardViewModel
@inject UserManager<AppUser> userManager

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .buttonformsadmin{
        display:inline;
    }
</style>
<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Employee Name</th>
            <th scope="col">Employee Email</th>
            <th scope="col">User Role</th>
            <th width="300px" scope="col">Give employee role</th>
            <th scope="col">Add money</th>
            <th scope="col">Delete User</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.FullName</td>
                <td>@user.Email</td>
                <td>
                    @foreach (var role in await userManager.GetRolesAsync(user))
                    {
                        <span class="text-dark">@role</span>
                    }
                </td>
                <td>
                    @if (!await userManager.IsInRoleAsync(user, SD.Role_Admin))
                    {
                        @if (await userManager.IsInRoleAsync(user, SD.Role_Customer))
                        {
                            <form class="buttonformsadmin" asp-area="Admin" asp-controller="Employee" asp-action="GiveTaxEmployee" asp-route-id="@user.Id">
                                <button type="submit" class="btn btn-success">Tax</button>
                            </form>
                            <form class="buttonformsadmin" asp-area="Admin" asp-controller="Employee" asp-action="GiveBillEmployee" asp-route-id="@user.Id">
                                <button type="submit" class="btn btn-info">Bill</button>
                            </form>
                            <form class="buttonformsadmin" asp-area="Admin" asp-controller="Employee" asp-action="GiveCreditEmployee" asp-route-id="@user.Id">
                                <button type="submit" class="btn btn-warning">Credit</button>
                            </form>
                        }
                        @if (await userManager.IsInRoleAsync(user, SD.Role_TaxEmployee))
                        {
                            <form class="buttonformsadmin" asp-area="Admin" asp-controller="Employee" asp-action="GiveBillEmployee" asp-route-id="@user.Id">
                                <button type="submit" class="btn btn-info">Bill</button>
                            </form>
                            <form class="buttonformsadmin" asp-area="Admin" asp-controller="Employee" asp-action="GiveCreditEmployee" asp-route-id="@user.Id">
                                <button type="submit" class="btn btn-warning">Credit</button>
                            </form>
                            <form class="buttonformsadmin" asp-area="Admin" asp-controller="Employee" asp-action="GiveCustomerRole" asp-route-id="@user.Id">
                                <button type="submit" class="btn btn-primary">Customer</button>
                            </form>
                        }
                        @if (await userManager.IsInRoleAsync(user, SD.Role_BillEmployee))
                        {
                            <form class="buttonformsadmin" asp-area="Admin" asp-controller="Employee" asp-action="GiveTaxEmployee" asp-route-id="@user.Id">
                                <button type="submit" class="btn btn-success">Tax</button>
                            </form>
                            <form class="buttonformsadmin" asp-area="Admin" asp-controller="Employee" asp-action="GiveCreditEmployee" asp-route-id="@user.Id">
                                <button type="submit" class="btn btn-warning">Credit</button>
                            </form>
                            <form class="buttonformsadmin" asp-area="Admin" asp-controller="Employee" asp-action="GiveCustomerRole" asp-route-id="@user.Id">
                                <button type="submit" class="btn btn-primary"> Customer</button>
                            </form>
                        }
                        @if (await userManager.IsInRoleAsync(user, SD.Role_CreditEmployee))
                        {
                            <form class="buttonformsadmin" asp-area="Admin" asp-controller="Employee" asp-action="GiveTaxEmployee" asp-route-id="@user.Id">
                                <button type="submit" class="btn btn-success">Tax</button>
                            </form>
                            <form class="buttonformsadmin" asp-area="Admin" asp-controller="Employee" asp-action="GiveBillEmployee" asp-route-id="@user.Id">
                                <button type="submit" class="btn btn-info">Employee</button>
                            </form>
                            <form class="buttonformsadmin" asp-area="Admin" asp-controller="Employee" asp-action="GiveCustomerRole" asp-route-id="@user.Id">
                                <button type="submit" class="btn btn-primary">Customer</button>
                            </form>
                        }
                    }
                    else
                    {
                        <p class="text-dark">Already admin</p>
                    }
                </td>
                <td>
                    @if (!await userManager.IsInRoleAsync(user, SD.Role_Admin))
                    {
                            <form asp-action="AddToBalance" asp-controller="Employee" asp-route-id="@user.Id">
                                <input asp-for="@Model.CardEntity.AccessibleMoney" placeholder="Add to balance" />
                                <button type="submit">Add to Balance</button>
                            </form>
                    }
                    else
                    {
                        <p>You are admin, you do not need to give yourself money</p>
                    }
                </td>
                <td>
                    @if(!await userManager.IsInRoleAsync(user, SD.Role_Admin))
                    {
                        <form asp-action="DeleteUser" asp-controller="Employee" asp-area="Admin" asp-route-id="@user.Id">
                            <button class="btn btn-danger" type="submit">Delete</button>
                        </form>
                    }
                    else
                    {
                        <p>Do not delete yourself, bro</p>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
