@using MGOBankApp.Domain.Entity
@using MGOBankApp.ViewModels
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@inject UserManager<AppUser> userManager
@inject IViewLocalizer Localizer
@model TransactionAppUserViewModel

@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">

<style>

    /* for card */

    import url('https://fonts.googleapis.com/css2?family=josefin+Sans:wght@400;500;600;700&display=swap');

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Josefin Sans', sans-serif;
    }

    .card-wrap {
        width: 500px;
        height: 300px;
        color: #fff;
        cursor: pointer;
        perspective: 1000px;
    }

    .card-inner {
        width: 100%;
        height: 100%;
        position: relative;
        transition: transform 1s;
        transform-style: preserve-3d;
    }

    .front, .back {
        width: 100%;
        height: 100%;
        background-image: linear-gradient(45deg, #0045c7, #ff2c7d);
        position: absolute;
        top: 0;
        left: 0;
        padding: 20px 30px;
        border-radius: 15px;
        overflow: hidden;
        z-index: 1;
        backface-visibility: hidden;
    }

    .row-card {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .map-img {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.3;
        z-index: -1;
    }

    .card-no {
        font-size: 35px;
        margin-top: 60px;
    }

    .card-holder {
        font-size: 12px;
    }

    .mk-balance {
        text-align: center;
        font-size: 15px;
    }

    .name {
        font-size: 22px;
    }

    .bar {
        background: #222;
        margin-left: -30px;
        margin-right: -30px;
        height: 60px;
    }


    .card-cvv div {
        flex: 1;
    }

    .card-cvv img {
        width: 100%;
        display: block;
        line-height: 0;
    }

    .card-cvv p {
        background: #fff;
        color: #000;
        font-size: 22px;
        padding: 2px 20px;
    }

    .card-text {
        font-size: 14px;
        margin-top: 10px;
    }

    .signature {
    }

    .back {
        transform: rotateY(180deg);
    }

    .card-wrap:hover .card-inner {
        transform: rotateY(-180deg);
    }
    /* end card */


    .payment {
        width: 150px;
        height: 150px;
        border: 1px solid grey;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
    }

    .payment-link {
        text-decoration: none;
        color: black;
    }

        .payment-link:hover {
            color: dimgrey;
            transition: 0.7s;
        }

    .row-margin {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .back {
        padding: 10px 30px;
    }

    .table-wrapper {
        margin: 10px 70px 70px;
    }
    /* for table */
    .fl-table {
        border-radius: 15px;
        font-size: 12px;
        font-weight: normal;
        border: none;
        border-collapse: collapse;
        width: auto;
        max-width: 100%;
        white-space: nowrap;
        background-color: white;
    }

        .fl-table td, .fl-table th {
            text-align: center;
            padding: 8px;
        }

        .fl-table td {
            border-right: 1px solid #f8f8f8;
            font-size: 12px;
        }

        .fl-table thead th {
            color: #ffffff;
            background: #4FC3A1;
        }


            .fl-table thead th:nth-child(odd) {
                width: 75%;
                color: #ffffff;
                background: #324960;
            }

        .fl-table tr:nth-child(even) {
            background: #F8F8F8;
            width: 25%;
        }

    /* Responsive */

    media (max-width: 767px) {
        .fl-table

    {
        display: block;
        width: 100%;
    }

    .table-wrapper:before {
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }

    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }

        .fl-table thead th:last-child {
            border-bottom: none;
        }

    .fl-table thead {
        float: left;
    }

    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }

    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }

    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }

    .fl-table tbody tr {
        display: table-cell;
    }

        .fl-table tbody tr:nth-child(odd) {
            background: none;
            width: 75%;
        }

    .fl-table tr:nth-child(even) {
        background: transparent;
        width: 25%;
    }

    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        width: 75%;
        border-right: 1px solid #E6E4E4;
    }

    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
        width: 25%;
    }

    .fl-table tbody td {
        display: block;
        text-align: center;
    }

    }
</style>
@if (Model.AppUser.CardEntity == null)
{
    <form asp-action="CreateCard" asp-controller="Home">
        <select name="PaymentSystem" id="PaymentSystem">
            @foreach (var paymentSystem in ViewBag.PaymentSystems)
            {
                <option value="@paymentSystem">@paymentSystem</option>
            }
        </select>
        <button type="submit">Create Card</button>
    </form>
}

else
{
    string imgLink = "";
    @switch (Model.AppUser.CardEntity.PaymentSystem)
    {
        case MGOBankApp.Domain.Enum.PaymentSystem.AmericanExpress:
            imgLink = "americanexpress.png";
            break;
        case MGOBankApp.Domain.Enum.PaymentSystem.Visa:
            imgLink = "visa.png";
            break;
        case MGOBankApp.Domain.Enum.PaymentSystem.MasterCard:
            imgLink = "mastercard.png";
            break;
        case MGOBankApp.Domain.Enum.PaymentSystem.ArCa:
            imgLink = "arca.png";
            break;
    }
    <div class="container">
        <div class="row">
            <div style="height:auto;" class="col-6">
                
                <table class="fl-table">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Operation</th>
                            <th>Date</th>
                            <th>Money</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{

                            @if (Model.AllTransactions.Count() == 0)
                            {
                                <p>No transaction found</p>
                            }
                            else{
                                
                                @foreach(var item in Model.AllTransactions)
                                {
                                    
                                    <tr>
                                        <td>@item.AppUser.FullName</td>
                                        @if (item.TransactionType == MGOBankApp.Domain.Enum.TransactionType.Withdraw)
                                        {
                                            <td style="color:red">@item.TransactionType</td>
                                        }
                                        else if (item.TransactionType == MGOBankApp.Domain.Enum.TransactionType.CashIn)
                                        {
                                            <td style="color:limegreen">@item.TransactionType</td>
                                        }
                                        else
                                        {
                                            <td style="color:grey">@item.TransactionType</td>
                                        }
                                        <td>@item.ActionTime</td>
                                        <td>@item.ChangingMoney</td>
                                    </tr>
                                }

                        }
                           }
                      @*   @{
                            int limit = 1;
                          //  var orders = Model.AllUsersOrders;
                        }
                        @if (true)
                        {
                            @for (int i = 0; i < 10; i++)
                            {
                                @if (i < limit)
                                {
                                    <tr>

                                        <td></td>
                                        <td></td>
                                    </tr>
                                }
                            }
                        } *@
                    <tbody>
                </table>
            </div>

            <div style="height:auto;" class="col-6 d-flex align-items-center">

                <div class="container-card">
                    <div class="card-wrap">
                        <div class="card-inner">
                            <div class="front">
                                <img src="https://i.ibb.co/PYss3yv/map.png" class="map-img">
                                <div class="row-card">
                                    <img src="https://i.ibb.co/G9pDnYJ/chip.png" width="60px">
                                    <img src="~/img/banksystems/@imgLink" width="60px">
                                </div>

                                <div class="row-card card-no">
                                    <p>@Model.AppUser.CardEntity.CardNum.Substring(0, 4)</p>
                                    <p>@Model.AppUser.CardEntity.CardNum.Substring(4, 4)</p>
                                    <p>@Model.AppUser.CardEntity.CardNum.Substring(8, 4)</p>
                                    <p>@Model.AppUser.CardEntity.CardNum.Substring(12, 4)</p>
                                </div>
                                <div class="row-card card-holder">
                                    <p>CARD HOLDER</p>
                                    <p>VALID TILL</p>
                                </div>
                                <div class="row-card name">
                                    <p>@Model.AppUser.FullName.ToUpper()</p>
                                    <p>
                                        0@{
                                            @Model.AppUser.CreatingTime.Month
                                        } / @(Model.AppUser.CreatingTime.AddYears(5).Year - 2000)
                                    </p>
                                </div>
                            </div>
                            <div class="back">
                                <p style="margin-bottom:0px;">Bank Account Number - @Model.AppUser.AccountNumber</p>
                                <img src="https://i.ibb.co/PYss3yv/map.png" class="map-img">
                                <div class="bar"></div>
                                <div class="row-card card-cvv">
                                    <div>
                                        <img src="https://i.ibb.co/S6JG8px/pattern.png">
                                    </div>
                                    <p>824</p>
                                </div>
                                <div class="row-card card-text">
                                    <p>This card is property of MGO Bank. Call if you have found this card</p>
                                </div>
                                <div class="row-card signature">
                                    <p>SIGNATURE - @Model.AppUser.FullName.ToUpper()</p>
                                    <img src="~/img/banksystems/@imgLink" width="80px">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
}
<script>
    const balanceDiv = document.getElementById('balance');
    const openBalanceDiv = document.getElementById('open_balance');
    const eyeIcon = document.getElementById('toggleButton');

    eyeIcon.addEventListener('click', function () {
        if (balanceDiv.style.display === 'inline') {
            balanceDiv.style.display = 'none';
            openBalanceDiv.style.display = 'inline';
            eyeIcon.classList.remove('zmdi-eye');
            eyeIcon.classList.add('zmdi-eye-off');
            eyeIcon.classList.add('hidden');
        } else {
            balanceDiv.style.display = 'inline';
            openBalanceDiv.style.display = 'none';
            eyeIcon.classList.remove('zmdi-eye-off');
            eyeIcon.classList.add('zmdi-eye');
            eyeIcon.classList.remove('hidden');
        }
    });
</script>