@using MGOBankApp.ViewModels
@model TicketWindowViewModel

@if(Model.AllOrders.Count() == 0)
{
    <p>No order found</p>
}
else
{
    @foreach (var order in Model.AllOrders)
    {
        <p>@order.OrderTicketId</p>
        <p>@order.OrderNumber</p>
        <p>@order.OrderService.ToString()</p>
        <p>@order.OrderDate.ToShortTimeString()</p>
        <p>@order.AppUser.FullName</p>
        <form asp-action="DeleteTicket" asp-controller="ServiceOrder" asp-route-id="@order.OrderTicketId">
            <button type="submit">Delete ticket</button> @*TODO: remove this button*@
        </form>
        <br />
    }
}
<form asp-action="AddBillService" asp-controller="ServiceOrder">
    <button type="submit">Order Bill Service</button>
</form>

<form asp-action="AddTaxService" asp-controller="ServiceOrder">
    <button type="submit">Order Tax Service</button>
</form>
<form asp-action="AddCreditService" asp-controller="ServiceOrder">
    <button type="submit">Order Credit Service</button>
</form>

<h1>Bills</h1>
@foreach(var bill in Model.BillTicketWindow)
{
    <p>@bill.OrderTicketId</p>
    <p>@bill.OrderNumber</p>
    <p>@bill.OrderService.ToString()</p>
    <p>@bill.OrderDate.ToShortTimeString()</p>
    <p>@bill.AppUser.FullName</p>
}

<h1>Taxes</h1>
@foreach (var tax in Model.TaxTicketWindow)
{
    <p>@tax.OrderTicketId</p>
    <p>@tax.OrderNumber</p>
    <p>@tax.OrderService.ToString()</p>
    <p>@tax.OrderDate.ToShortTimeString()</p>
    <p>@tax.AppUser.FullName</p>
}

<h1>Credit</h1>
@foreach (var credit in Model.TaxTicketWindow)
{
    <p>@credit.OrderTicketId</p>
    <p>@credit.OrderNumber</p>
    <p>@credit.OrderService.ToString()</p>
    <p>@credit.OrderDate.ToShortTimeString()</p>
    <p>@credit.AppUser.FullName</p>
}